body{
  background: url('https://content.knightfrank.com/property/4125898/images/4c616be4-8e58-4395-8bdf-f5f1f77db0e6-0.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
}
.chat-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 93.8%;
  margin-top:17px;

}
.circle{
  border-radius: 50%;
}
.chat-main .chat-top{
  padding: 0 20px;
  background-color: white;
  color:darkblue;
  display: flex;
  align-items: center;
  height:50px;
}
.chat-main .chat-top img{
  margin-right: 20px;
}
.chat-main .chat-top .receiver-details h5{
  margin: 0;
}
.chats-all{
  height: 83.3%;
  overflow-y: scroll;
  box-sizing: content-box;
}
.chat-main .chat-main-child{
  position: relative;
  /* background: url('https://images.unsplash.com/photo-1548164806-9709e698bfc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1551&q=80'); */
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  background: rgba(0, 0, 100, 1);
  width: 60%;
  height: 100%;
  color:white;
}
.chat-message{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.sender{
  /* display: */
}
.chat-body{
  padding: 0 10px;
}
.sender{
  display: flex;
  justify-content: flex-end;
}
.receiver{
  display: flex;
  justify-content: flex-start;

}
.msg_form{
  width: 100%;
  display: flex;
}
.msg_form input{
  width: 100%;
  border: none;
  border-radius: 0;
}
.msg_form button{
  position: relative;
  border-radius: 0;
}
