{% extends 'base.html' %}
{% load static%}
{% block content %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/chat.css'%}">
<br><br>
  <div class="container chat-main">
    <div class="chat-main-child">

    <div class="chat-top">
      <h5>
        {{receiver.profile.display_name}}
      </h5>
    </div>
    <br>
  {% for chat in chats %}
  {% if chat.chat_sender == user %}
  <div class="chat-body sender">
    <div class="chat-text">
      {{chat.message}}<br>
      <small>
        <small>
          {{chat.time|time}}
        </small>
      </small>
    </div>

    <div class="chat-image">
      {% if chat.chat_sender.profile_pic %}
        <img src="{{chat.chat_sender.profile.profile_pic.url}}" width="30px" height="30px" class="circle" alt="">
      {% else %}
        <img src="https://assets.awwwards.com/assets/images/pages/user/avatar.svg" width="30px" class="circle" alt="">
      {% endif %}
    </div>


  </div>

  {% else %}
  <div class="chat-body receiver ">

    <div class="chat-image">
      {% if chat.chat_sender.profile_pic %}
      {% if chat.chat_user1.user.profile_pic %}
        <img src="{{chat.chat_user1.profile.profile_pic.url}}" width="50px" height="50px" class="circle" alt="">
        {% endif %}
      {% else %}
      {% if chat.chat_user2.user.profile_pic %}
          <img src="{{chat.chat_user2.profile.profile_pic.url}}" width="50px" height="50px" class="circle" alt="">
        {% else %}
          <img src="https://assets.awwwards.com/assets/images/pages/user/avatar.svg" width="30px" class="circle" alt="">
          {% endif %}
      {% endif %}
    </div>

    <div class="chat-text">
      {{chat.message}}<br>
      <small>
        <small>
        {{chat.time|time}}
      </small>
        </small>
    </div>
  </div>
  {% endif %}
  {% empty %}
  <h3>No Message Yet</h3>
  {% endfor %}
  <div class="chat-message">
  <form class="" action="{% url 'chat' receiver.username  %}" method="post">
    {% csrf_token %}
    <input type="text" name="sent_message" class="form-control form-control-sm" placeholder="Message">
    <button type="submit" class="btn btn-sm btn-primary">Send</button>
  </form>
</div>
  </div>
</div>
{% endblock%}
