{%extends 'base.html'%}
{% load static%}
{% load bootstrap4%}
{% block content %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<br><br><br>

<div class="container-fluid">
  <!-- <h2>Welcome {{user.username}}</h2> -->
  <div class="menu">
    <img class="" src="{% static 'images/menu_icon.png'%}" alt="" width="30px">
  </div>
  <div class="row">
    <div class="col-md-2 nav-parent">
      <div class="shut">
        <p>X</p>
      </div>
      <div class="navigation">
          <ol>
            <li>
              <h6>Home</h6>
              <ul>
                <li>
                  <p class="show-posts"> Posts</p>
                </li>
                <li>
                  <p class="show-bussinesses">Bussinesses</p>
                </li>
                <li>
                  <p class="show-emergency">Emergency</p>
                </li>
              </ul>
            </li>
            <li>
              <h6>Chats</h6>

            </li>
            <h6>Profile</h6>
            <li>
              <h6>Settings</h6>
              <ul>
                <li>
                  <a href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>
            </li>
          </ol>
  </div>
    </div>

  <div class="col-md-7 " >

    <div class="posts-all post-container">

    <small class="identifier">Posts</small>
    {% for post in neighbourhood_post %}
    <div class="card">
      <div class=
      "card-header">
      <div class="user-details">

      {% if post.user.profile_pic %}
        <img src="{{post.user.profile.profile_pic.url}}" width="50px" height="50px" class="circle" alt="">
      {% else %}
        <img src="https://assets.awwwards.com/assets/images/pages/user/avatar.svg" width="30px" class="circle" alt="">
      {% endif %}
      <h5>{{post.user.profile.display_name}}</h5>
    </div>
    <div class="post-details">
      <br>
       <h5>{{post.title}}</h5>

      <p>
        {{post.description|safe}}
      </p>
      <small>
      <small>Posted {{post.posted_on|timesince}} ago</small>
    </small>
    </div>
    </div>
    <div class="card-body">
      <img src="{{post.image.url}}" class="card-img-top" alt="">
    </div>
    </div>
  </div>

    {% empty %}
    <h3>No post in this neighbourhood</h3>
    {% endfor%}

    <div class="bussinesses">
      <small class="identifier">Bussines</small>
      {% for bussines in bussinesses %}
        <div class="bussines">
          <div class="logo">
            <img src="{{bussines.bussiness_photo.url}}" alt="{{bussines.bussiness_photo.url}}" width="100px" class="circle">
          </div>
          <div class="details">
            <h5>{{bussines.name}}</h5>
            <p><b>Type: </b>{{bussines.type}}</p>
            <small><b>Call:</b> +254{{bussines.phone_number}}  <b>Email</b>: {{bussines.email}}</small>
            <br>
            {% if user == bussines.profile.user %}
            {% else %}
            <small><a href="{% url 'chat' bussines.profile.user.username  %}">inquire</a></small>
            {% endif %}
        </div>
        </div>
      {% endfor %}
    </div>
    <div class="emergency">
      <small class="identifier">Emergrncies</small>

      <!-- hospital -->

      {% for hospital in hospitals%}
      <div class="bussines">
        <div class="logo">
          <img src="{{hospital.bussiness_photo.url}}" alt="{{hospital.bussiness_photo.url}}" width="100px" class="circle">
        </div>
        <div class="details">
          <h5>{{hospital.name}}</h5>
          <p>Type: <b>{{hospital.type}}</b></p>
          <small>Call:+254{{hospital.phone_number}} Email: <b>{{hospital.email}}</b></small>
          <br>
          <small><a href="/chat/hospital.profile.user.username">inquire</a></small>
      </div>
      </div>
      {% empty %}
      <h3>No Hospital registered</h3>
      {% endfor %}

      <!-- police -->
      <br><br>
      {% for police in polices%}
      <div class="bussines police">
        <div class="logo">
          <img src="{{police.bussiness_photo.url}}" alt="{{police.bussiness_photo.url}}" width="100px" class="circle">
        </div>
        <div class="details">
          <h5>{{police.name}}</h5>
          <p>Type: <b>{{police.type}}</b></p>
          <small>Call:+254{{police.phone_number}} Email: <b>{{police.email}}</b></small>
          <br>
          <small><a href="/chat/police.profile.user.username">inquire</a></small>
      </div>
      </div>
      {% empty %}
      <h3>No Police Station registered</h3>
      {% endfor%}
    </div>
  </div>
  <div class="col-md-3">
    <br>
    <div class="neighbors-parent">
      <h4>Online Neighbors</h4>

    {% for neighbor  in neighbors %}
    <div class="neighbors">

      {% if neighbor.profile_pic %}
      <img src="{{user.profile.profile_pic.url}}" width="50px" height="50px" class="circle" alt="">
      <span class="online{{neighbor.online}}"></span>
      {% else %}
      <img src="https://assets.awwwards.com/assets/images/pages/user/avatar.svg" width="30px" class="circle" alt="">
      <span class="online{{neighbor.online}}"></span>
      {% endif %}
    {{neighbor.user.username.capitalize}}
    <div class="neighbors-chat">
    <a href="{% url 'chat' neighbor.user.username %}" target="_blank"> Chat</a>
     </div>
  </div>
    {% endfor %}
    <form class="" action="{% url 'save_post' %}" method="post" enctype="multipart/form-data">
      {% csrf_token%}
      {% bootstrap_form post_form%}
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
  </div>
  </div>
  </div>

</div>
<script type="text/javascript" src="{% static 'js/reg.js'%}">

</script>
{% if user.profile.bussiness_type == None %}
<script type="text/javascript">
  $("body").load('/setup')
</script>
{% endif %}
{% endblock %}
